In [1]:
import pandas as pd

In [2]:
hawaii_measurements = pd.read_csv("./Resources/hawaii_measurements.csv")
hawaii_stations = pd.read_csv("./Resources/hawaii_stations.csv")

In [3]:
hawaii_measurements.head()
hawaii_stations.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [ ]:
#HAWAII MEASUREMENTS

#total rows
hawaii_measurements.count()

#total rows with NaN in prcp column
hawaii_measurements[hawaii_measurements['prcp'].isnull()].count()

#total rows with NaN in tobs column
hawaii_measurements[hawaii_measurements['tobs'].isnull()].count()

#total rows with any NaN
hawaii_measurements[hawaii_measurements['prcp'].isnull()|hawaii_measurements['tobs'].isnull()].count()

In [4]:
#There are 1447 out of 19550 rows in the dataset with null values in the prcp column. We will just remove them
hawaii_measurements_clean=hawaii_measurements.dropna()

In [5]:
hawaii_measurements.count()
hawaii_measurements_clean.count()

station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64

station    18103
date       18103
prcp       18103
tobs       18103
dtype: int64

In [8]:
#HAWAII STATIONS

#this is a normie table, no NaNs

hawaii_measurements_clean.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
5  USC00519397  2010-01-07  0.06    70

In [9]:
#write CSVs with cleaned data

hawaii_measurements_clean.to_csv("./Resources/hawaii_measurements_clean.csv")